%h1= title
%div.quiz
  %h1#name{name:"name",value:quiz.name,type:"text"}
    =quiz.name
  %a#editQuiz{href:"/quiz/edit/" + slug(quiz.name)}
    (Edit)
  %div#quizBody
    =quiz.text
  %div#publishOn{name:"publishOn",value:quiz.publishOn,type:"text"}
    =quiz.publishOn
